services:
  frontend:
    container_name: geoform-frontend-dev
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
      args:
        NODE_VERSION: 23.8.0
        PNPM_VERSION: 10.13.1
        GIT_VERSION: "1:2.30.2-1+deb11u2"
        DUMB_INIT_VERSION: "1.2.5-1"
    environment:
      - NODE_ENV=development
      - PNPM_HOME=/opt/pnpm
      - PNPM_STORE_PATH=/pnpm-store
      - CHOKIDAR_USEPOLLING=true
    working_dir: /workspace
    ports:
      - "5173:5173"
    volumes:
      - ./:/workspace
      - pnpm-store:/pnpm-store
      - node-modules:/workspace/node_modules
    command:
      [
        "pnpm",
        "run",
        "dev",
        "--host",
        "0.0.0.0",
        "--port",
        "5173",
        "--strictPort",
      ]
    networks:
      - shared-external

volumes:
  node-modules:
  pnpm-store:

networks:
  shared-external:
    external: true
