services:
  frontend:
    container_name: geoform-frontend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '4173:4173'
    restart: unless-stopped
    networks:
      - shared-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4173" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  shared-net:
    external: true
