services:
  frontend:
    container_name: geoform-frontend
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILD_ENV: production
    environment:
      - NODE_ENV=production
    ports:
      - "4173:4173"
    restart: unless-stopped
    networks:
      - shared-external

networks:
  shared-external:
    external: true
