body {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#app {
  margin: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
}

#app.dark {
  background-color: #1a1a1a;
  color: #fff;
}

body.dark {
  background-color: #080808;
  color: #fff;
}

:root {
  font-family: Source Sans Pro, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}